<!DOCTYPE html>
<html>
<head>
    <title>Project 1</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <canvas id="canvas" width="100" height="100"></canvas>
    <div id="sidebar">
        <div id="playButton" class="button large section">play</div>
        <div id="searchBox" class="section">
            <input type="text" placeholder="search" id="search"/>
            <div id="results"></div>
        </div>
        <div id="ghostingBox" class="section">
            <label>Ghosting</label>
            <input type="range" min="0" max="1" id="ghosting" value="0" step="0.005"/> 
        </div>
        <div class="section">
            <label>Trash</label>
            <input type="range" min="0" max="72" id="volume" value="0" step="0.05"/> 
        </div>
        <div class="section">
            <label>Data</label>
            <select id="dataSelect">
                <option value="0">frequency</option>
                <option value="1">waveform</option>
            </select>
        </div>
        <div id="strokeBox" class="section">
            <label>Stroke Hue</label>
            <input type="range" min="0" max="360" id="strokeHue" value="89" style="background: #6ec90e" class="hslSlider" value="0" step="1"/> 
        </div>
        <div id="fillBox" class="section">
            <label>Fill Hue</label>
            <input type="range" min="0" max="360" id="fillHue" value="89" style="background: #6ec90e" class="hslSlider" value="0" step="1"/> 
        </div>
        <div class="section">
            <label>Visualizer</label>
            <select id="visSelect"></select>
        </div>
        <div class="section">
            <label>Filter</label>
            <select id="filSelect"></select>
        </div>

    </div>
    <script src="/js/main.js"></script>
    <script src="/js/ui.js"></script>
</body>
</html>