body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    background: black;
    height: 1vh;
}

#canvas{
    margin: 0;
    padding: 0;
    background: black;
    position: absolute;
    left: 0;
}

#sidebar{
    position: absolute;
    right: 0;
    padding: 12px;
    box-sizing: border-box;
    background: #161616;
    overflow-y: scroll;
}

.button{
    background: #6ec90e;
    padding: 0.7em 0.9em;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    border-top-width: 0;
    border-left-width: 0;
    border-color: #447c08;
    border-style: solid;
    transition: border 0 ease;
}

.button:hover{
    background: #7EDE18;
}

.button:active{
    border-color: rgba(0,0,0,0);
    position: relative;
    top: 2px;
    left: 2px;
    background: #62B30C;
}

.button.large{
    font-size: 18px;
}

.section{
    margin-bottom: 24px;
}

#searchBox{
    width: 100%;
}

#results{
    height: 230px;
    overflow-y: scroll;
    border: 1px solid #6ec90e;
    border-top: none;
    box-sizing: border-box;
}

.result-item{
    box-sizing: border-box;
    padding: 4px 10px;
    width: 100%;
    cursor: pointer;
    background: rgba(0,0,0,0);
    transition: all 0.2s ease;
}

.result-item:hover{
    background: rgba(255,255,255,0.1);
}

#search{
    width: 100%;
    box-sizing: border-box;
    background: none;
    border-color: #6ec90e;
    border-style: solid;
    border-width: 1px;
    padding: 8px 10px;
    color: white;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

label{
    color: white;
    display: block;
    margin-bottom: 12px;
}

select{
    width: 100%;
    padding: 8px;
    background: #2f3030;
    color: #6ec90e;
    border-style: solid;
    border-color: #2f3030;
}

option{
    border: none;
}

/* reset range styles */
/* https://www.impressivewebs.com/onchange-vs-oninput-for-range-sliders/ */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: #2f3030; /* Otherwise white in Chrome */
  height: 7px;
  box-sizing: border-box;
  margin: 0;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 16px;
  background: #6ec90e;
  cursor: pointer;
  border: none;
  border-radius: 0;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  height: 36px;
  width: 16px;
  border: none;
  border-radius: 0;
  background: #6ec90e;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 0;
  position: relative;
  top: 6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  width: 0;
}

input[type=range]::-moz-range-track {
  width: 0;
}